
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Đăng Nhập</title>
    <style>
        #loginPopup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #fff;
            z-index: 1000;
        }

        /* Style cho làm mờ nền */
        #blur {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            z-index: 999;
        }

        /* Style cho các thành phần trong popup */
        #loginPopup input {
            margin-bottom: 10px;
            width: 100%;
            padding: 10px;
        }
    </style>
</head>
<body>
    <!-- Login popup -->
    <div id="blur"></div>
    <div id="loginPopup">
        <!-- Login form -->
        <form>
            <label for="phoneNumber">Số Điện Thoại:</label>
            <input type="text" id="phoneNumber" name="phoneNumber">

            <label for="password">Mật Khẩu:</label>
            <input type="password" id="password" name="password">

            <!-- Link to registration page -->
            <a href="#">Đăng Ký</a>

            <!-- Close button -->
            <button type="button" onclick="hideLogin()">Đóng</button>
        </form>
    </div>

    <script>
        // Sử dụng jQuery để xử lý sự kiện click của ActionLink
        $('#btnLogin').on('click', function (e) {
            e.preventDefault(); // Ngăn chặn hành động mặc định của liên kết
            showLoginPopup();
        });

        function showLoginPopup() {
            // Hiển thị popup và làm mờ nền
            document.getElementById('loginPopup').style.display = 'block';
            document.getElementById('blur').style.display = 'block';
        }

        function hideLoginPopup() {
            // Ẩn popup và làm mờ nền
            document.getElementById('loginPopup').style.display = 'none';
            document.getElementById('blur').style.display = 'none';
        }
    </script>
</body>
</html>


