
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .animate-fading {
        width: 100%;
        animation: fading 8s infinite;
    }

    @@keyframes fading {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }
</style>

<div>

    <img src="~/Image/banner-1.jpg" class="mySlides2 animate-fading " />
    <img src="~/Image/banner-2.jpg" class="mySlides2 animate-fading " />
    <img src="~/Image/banner-3.jpg" class="mySlides2 animate-fading " />

</div>


<script>
    var myIndex = 0;
    carousel2();

    function carousel2() {
      var i;
      var x = document.getElementsByClassName("mySlides2");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel2, 7000);
    }
</script>




