
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .div_amthuc {
        display: flex;
        justify-content: center;
    }

    .img_amthuc {
        width: 400px;
        height: 300px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    h2 {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    table {
        margin-top: 28px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    td {
        padding: 10px 10px;
    }

        td p {
            color: #2e127f;
            font-size: 2.0rem;
            font-weight: bold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            position: absolute;
        }

    .td_1 {
        top: 650px;
        width: 250px;
        height: 34px;
        background-color: #ffc107;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 43px;
        border-top-right-radius: 43px;
        border-bottom-right-radius: 10px;
        text-align: center;
        /*font-weight: bold;*/
    }

    .td_2 {
        top: 971px;
        width: 250px;
        height: 34px;
        background-color: #ffc107;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 43px;
        border-top-right-radius: 43px;
        border-bottom-right-radius: 10px;
        text-align: center;
        /*font-weight: bold;*/
    }

    .td_3 {
        top: 1291px;
        width: 250px;
        height: 34px;
        background-color: #ffc107;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 43px;
        border-top-right-radius: 43px;
        border-bottom-right-radius: 10px;
        text-align: center;
        /*font-weight: bold;*/
    }

    .div_1 {
        height: 500px;
        width: 100%;
        background-color: #000000;
    }

    .slideshow {
        overflow: hidden;
        height: 500px;
        width: 1000px;
        margin: 0 auto;
    }

    .slide-wrapper {
        width: 3000px;
        -webkit-animation: slide 21s ease infinite;
    }

    .slide {
        float: left;
        height: 500px;
        width: 1000px;
    }

    @@-webkit-keyframes slide {
        20% {
            margin-left: 0px;
        }

        30% {
            margin-left: -1000px;
        }
        /*50% {margin-left: -1500px;}*/
        60% {
            margin-left: -2000px;
        }
        /*80% {
            margin-left: -2500px;
        }*/
    }
</style>

<div class="div_1">
    <div class="slideshow">
        <div class="slide-wrapper">
            <div class="slide"><img src="~/Image/AnhMonAn/banner_menu2.jpg" class="banner slide" /></div>
            <div class="slide"><img src="~/Image/AnhMonAn/banner_menu3.jpg" class="banner slide" /></div>
            <div class="slide"><img src="~/Image/AnhMonAn/banner_menu4.jpg" class="banner slide" /></div>
        </div>
    </div>
</div>

<h2><b>ẨM THỰC GRAND PALACE</b></h2>


<div class="div_amthuc">

    <table>
        <tr>
            <td>
                <img src="~/Image/AnhMonAn/BanhManKhaiVi/PuffBacon&corn.jpg" class="img_amthuc" />
                <p class="td_1">BÁNH MẶN KHAI VỊ</p>
            </td>
            <td>
                <img src="~/Image/AnhMonAn/KhaiViHaiMon/cha_sun_chien_gion.jpg" class="img_amthuc" />
                <p class="td_1">KHAI VỊ 02 MÓN</p>
            </td>
            <td>
                <img src="~/Image/AnhMonAn/ComMiBunMien/com_chien_hai_san_thai_lan.jpg" class="img_amthuc" />
                <p class="td_1">CƠM-MÌ-BÚN-MIẾN</p>
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Image/AnhMonAn/Lau/lau_tom_cang_thai_lan.jpg" class="img_amthuc" />
                <p class="td_2">MÓN LẨU</p>
            </td>
            <td>
                <img src="~/Image/AnhMonAn/MonAnKem/cai_ro_hai_sam_gan_nai_ham_XO.jpg" class="img_amthuc" />
                <p class="td_2">MÓN ĂN KÈM</p>
            </td>
            <td>
                <img src="~/Image/AnhMonAn/MonBoDaDieu/suon_bo_my_bbq.jpg" class="img_amthuc" />
                <p class="td_2">MÓN BÒ-ĐÀ ĐIỂU</p>
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Image/AnhMonAn/MonCa/ca_bop_hap_xi_dau_dac_biet.jpg" class="img_amthuc" />
                <p class="td_3">MÓN CÁ</p>
            </td>
            <td>
                <img src="~/Image/AnhMonAn/MonCua/cua_lot_rang_muoi_hongkong.jpg" class="img_amthuc" />
                <p class="td_3">MÓN CUA</p>
            </td>
            <td>
                <img src="~/Image/AnhMonAn/MonGaVitBoCau/ga_dut_lo_teriyaki.jpg" class="img_amthuc" />
                <p class="td_3">MÓN GÀ-VỊT-BỒ CÂU</p>
            </td>
        </tr>
    </table>

</div>




