
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    /** {
        box-sizing: border-box
    }

    .mySlides1, .mySlides2 {
        display: none
    }

    img {
        vertical-align: middle;
    }
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color:blueviolet;
        font-weight: bold;
        font-size: 35px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;

    }
    .prev {

        margin-right: 750px;
    }

    .next {

        margin-left: 750px;

        border-radius: 3px 0 0 3px;
    }

        .prev:hover, .next:hover {
            background-color: #f1f1f1;
            color: black;
        }*/

    .div_ {
        background-color: #b86808;
        width: 1000px;
        height: 500px;
        margin: 0 auto;
        padding: 30px 11px;
        margin-top: 70px;
        margin-bottom: 70px;
        border-radius: 10px;
    }

    .div_left {
        background-color: bisque;
        width: 370px;
        height: 439px;
        float: left;
        padding: 8px;
        border-radius: 10px;
        /*border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;*/
    }

    .div_right {
        background-color: bisque;
        width: 595px;
        height: 439px;
        float: right;
        border-radius: 10px;
        /*border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;*/
    }

    .left_top {
       
        width: 350px;
        height: 370px;
        padding: 10px;
        margin-bottom: 13px;
    }

    .left_bot {
        width: 350px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .div_number {
        width: 25px;
        height: 23px;
        border-radius: 10px;
        padding-right: 2px;
        text-align: center;
        background-color: #b86808;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2px;
    }

    .an_div {
        display: none;
    }

    .ul_ {
        padding: 10px 10px;
        list-style: none;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    }
    .image {
        width: 595px;
        height: 439px;
        float: right;
        border-radius: 10px;

        /*border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;*/
    }

</style>
<body>

    <div class="div_">
        <div class="div_left">
            <div class="left_top" id="div_lefftop">

                @*DIV KHAI VỊ*@
                <div class="an_div" id="div_khaivi">
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; display: flex; align-items: center;  justify-content: center;">MÓN KHAI VỊ</p>
                    <ul class="ul_">
                        <li onclick="KV_1()" style="padding-bottom: 10px;">GỎI TÔM THÁI TÂY THI</li>
                        <li onclick="KV_2()" style="padding-bottom: 10px;">CHẢ GIÒ GRAND PALACE</li>
                        <li onclick="KV_3()" style="padding-bottom: 10px;">MỰC VIÊN BÁNH BAO TRỨNG MUỐI</li>
                        <li onclick="KV_4()" style="padding-bottom: 10px;">TÔM GIÒN LEO CHANH</li>
                        <li onclick="KV_5()" style="padding-bottom: 10px;">CHẢ THANH CUA NHẬT</li>
                        <li onclick="KV_6()" style="padding-bottom: 10px;">BÁNH CROISSANT CHEESE</li>
                        <li onclick="KV_7()" style="padding-bottom: 10px;">BÁNH XẾP</li>
                        <li onclick="KV_8()" style="padding-bottom: 10px;">BÁNH DANISH HAM</li>
                        <li onclick="KV_9()" style="padding-bottom: 10px;">BÁNH PATE CHAUD</li>
                        <li onclick="KV_10()" style="padding-bottom: 10px;">BÁNH PATESO</li>
                    </ul>
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; text-align: right; margin-top: -30px;"> ~200.000 (VND)</p>
                </div>

                @*DIV SOUP*@
                <div class="an_div" id="div_soup">
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; display: flex; align-items: center;  justify-content: center;">MÓN SOUP</p>
                    <ul class="ul_">
                        <li onclick="S_1()" style="padding-bottom: 10px;">SOUP TÔM CUA</li>
                        <li onclick="S_2()" style="padding-bottom: 10px;">SOUP KHOAI TÂY PHÔ MAI</li>
                        <li onclick="S_3()" style="padding-bottom: 10px;">SOUP NGÔ THỊT GÀ</li>
                        <li onclick="S_4()" style="padding-bottom: 10px;">SOUP BÍ ĐỎ</li>
                        <li onclick="S_5()" style="padding-bottom: 10px;">SOUP MĂNG CUA</li>
                        <li onclick="S_6()" style="padding-bottom: 10px;">SOUP GÀ VÀ NẤM HƯƠNG</li>
                        <li onclick="S_7()" style="padding-bottom: 10px;">SOUP BÔNG CẢI XANH</li>
                        <li onclick="S_8()" style="padding-bottom: 10px;">SOUP GÀ CAY KIỂU THÁI</li>
                        <li onclick="S_9()" style="padding-bottom: 10px;">SOUP LƯƠNG</li>
                        <li onclick="S_10()" style="padding-bottom: 10px;">SOUP BÀO NGƯ VI CÁ THƯỢNG HẠNG</li>
                    </ul>
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; text-align: right; margin-top: -30px;"> ~250.000 (VND)</p>
                </div>

                @*DIV ĂN KÈM*@
                <div class="an_div" id="div_kem">
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; display: flex; align-items: center;  justify-content: center;">MÓN ĂN KÈM</p>
                    <ul class="ul_">
                        <li onclick="K_1()" style="padding-bottom: 10px;">CẢI HỒNG KÔNG SỐT DẦU HÀO</li>
                        <li onclick="K_2()" style="padding-bottom: 10px;">CẢI NGỒNG SỐT TỎI</li>
                        <li onclick="K_3()" style="padding-bottom: 10px;">NẤM ĐÔNG CÔ XÀO SÚP LƠ XANH</li>
                    </ul>
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; text-align: right; margin-top: -30px;"> ~100.000 (VND)</p>
                </div>

                @*DIV BÒ *@
                <div class="an_div" id="div_bo">
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; display: flex; align-items: center;  justify-content: center;">MÓN BÒ - ĐÀ ĐIỂU</p>
                    <ul class="ul_">
                        <li onclick="B_1()" style="padding-bottom: 10px;">BÒ ÚC SỐT TIÊU ĐEN - KHOAI TÂY </li>
                        <li onclick="B_2()" style="padding-bottom: 10px;">BÒ HẦM RƯỢU VANG - BÁNH MÌ</li>
                        <li onclick="B_3()" style="padding-bottom: 10px;">ĐÀ ĐIỂU NƯỚNG BBQ - KHOAI TÂY</li>
                        <li onclick="B_4()" style="padding-bottom: 10px;">BÒ CUỘN NẤM KIM CHÂM</li>
                    </ul>
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; text-align: right; margin-top: -30px;"> ~550.000 (VND)</p>
                </div>


                @*DIV CÁ*@
                <div class="an_div" id="div_ca">
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; display: flex; align-items: center;  justify-content: center;">MÓN CÁ</p>
                    <ul class="ul_">
                        <li onclick="CA_1()" style="padding-bottom: 10px;">CÁ CHẼM PHI LÊ SỐT BƠ CHANH</li>
                        <li onclick="CA_2()" style="padding-bottom: 10px;">CÁ BỐNG MÚ HẤP HỒNG KÔNG</li>
                        <li onclick="CA_3()" style="padding-bottom: 10px;">CÁ BỐP ĐÚT LÒ SỐT TERIYAKI</li>
                        <li onclick="CA_4()" style="padding-bottom: 10px;">CÁ HỒI HẤP TAM SẮC</li>
                        <li onclick="CA_5()" style="padding-bottom: 10px;">CÁ CUỘN BACON ĐÚT LÒ</li>
                    </ul>
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; text-align: right; margin-top: -30px;"> ~450.000 (VND)</p>
                </div>

                @*DIV CƠM*@
                <div class="an_div" id="div_com">
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; display: flex; align-items: center;  justify-content: center;">MÓN CƠM - BÚN - MÌ - MIẾN</p>
                    <ul class="ul_">
                        <li onclick="C_1()" style="padding-bottom: 10px;">CƠM CHIÊN GÀ QUAY LÁ É</li>
                        <li onclick="C_2()" style="padding-bottom: 10px;">CƠM CHIÊN BÀO NGƯ</li>
                        <li onclick="C_3()" style="padding-bottom: 10px;">MÌ XÀO SA TẾ TÔM</li>
                        <li onclick="C_4()" style="padding-bottom: 10px;">BÚN XÀO SINGAPORE</li>
                    </ul>
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; text-align: right; margin-top: -30px;"> ~350.000 (VND)</p>
                </div>

                @*DIV GÀ*@
                <div class="an_div" id="div_ga">
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; display: flex; align-items: center;  justify-content: center;">MÓN GÀ - VỊT - BỒ CÂU</p>
                    <ul class="ul_">
                        <li onclick="G_1()" style="padding-bottom: 10px;">ỨT VỊT SỐT TRÁI CÂY</li>
                        <li onclick="G_2()" style="padding-bottom: 10px;">BỒ CÂU QUAY</li>
                        <li onclick="G_3()" style="padding-bottom: 10px;">GÀ HẤP LÁ SEN</li>
                        <li onclick="G_4()" style="padding-bottom: 10px;">BỒ CÂU UYÊN ƯƠNG</li>

                    </ul>
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; text-align: right; margin-top: -30px;"> ~400.000 (VND)</p>
                </div>

                @*DIV CUA*@
                <div class="an_div" id="div_cua">
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; display: flex; align-items: center;  justify-content: center;">MÓN CUA</p>
                    <ul class="ul_">
                        <li onclick="CUA_1()" style="padding-bottom: 10px;">CUA LỘT SỐT CHANH DÂY</li>
                        <li onclick="CUA_2()" style="padding-bottom: 10px;">CUA LỘT ĐÚT LÒ PHÔ MAI</li>
                        <li onclick="CUA_3()" style="padding-bottom: 10px;">CUA LỘT HOÀNG KIM</li>
                        <li onclick="CUA_4()" style="padding-bottom: 10px;">CUA SỐT TIÊU ĐEN</li>
                        <li onclick="CUA_5()" style="padding-bottom: 10px;">CUA SỐT ỚT SINGAPORE</li>
                    </ul>
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; text-align: right; margin-top: -30px;"> ~250.000 (VND)</p>
                </div>

                @*DIV TÔM*@
                <div class="an_div" id="div_tom">
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; display: flex; align-items: center;  justify-content: center;">MÓN TÔM</p>
                    <ul class="ul_">
                        <li onclick="T_1()" style="padding-bottom: 10px;">TÔM HẤP NƯỚC DỪA</li>
                        <li onclick="T_2()" style="padding-bottom: 10px;">TÔM RANG MUỐI ỚT TỎI</li>
                        <li onclick="T_3()" style="padding-bottom: 10px;">TÔM CUỘN KHOAI TÂY CHIÊN</li>
                        <li onclick="T_4()" style="padding-bottom: 10px;">TÔM SÚ HOÀNG KIM</li>
                        <li onclick="T_5()" style="padding-bottom: 10px;">TÔM SỐT SINGAPORE</li>
                    </ul>
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; text-align: right; margin-top: -30px;"> ~370.000 (VND)</p>
                </div>

                @*DIV HEO*@
                <div class="an_div" id="div_heo">
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; display: flex; align-items: center;  justify-content: center;">MÓN HEO</p>
                    <ul class="ul_">
                        <li onclick="H_1()" style="padding-bottom: 10px;">SƯỜN BBQ SỐT CAY</li>
                        <li onclick="H_2()" style="padding-bottom: 10px;">GIÒ HEO HẤP TÓC TIÊN</li>
                        <li onclick="H_3()" style="padding-bottom: 10px;">GIÒ HEO MUỐI CHIÊN GIÒN - KIM CHI</li>
                    </ul>
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; text-align: right; margin-top: -30px;"> ~450.000 (VND)</p>
                </div>

                @*DIV TRÁNG MIỆNG*@
                <div class="an_div" id="div_mieng">
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; display: flex; align-items: center;  justify-content: center;">MÓN TRÁNG MIỆNG</p>
                    <ul class="ul_">
                        <li onclick="M_1()" style="padding-bottom: 10px;">SWEET LOVE</li>
                        <li onclick="M_2()" style="padding-bottom: 10px;">PASSION FRUIT LAYER CAKE</li>
                        <li onclick="M_3()" style="padding-bottom: 10px;">PANNA COTTA CHANH DÂY</li>
                        <li onclick="M_4()" style="padding-bottom: 10px;">MOUSSE DÂU</li>
                        <li onclick="M_5()" style="padding-bottom: 10px;">RAU CÂU DỪA</li>
                    </ul>
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; text-align: right; margin-top: -30px;"> ~350.000 (VND)</p>
                </div>

                @*DIV LẨU*@
                <div class="an_div" id="div_lau">
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; display: flex; align-items: center;  justify-content: center;">MÓN LẨU</p>
                    <ul class="ul_">
                        <li onclick="L_1()" style="padding-bottom: 10px;">LẨU HẢI SẢN CUA ĐỒNG - BÚN TƯƠI</li>
                        <li onclick="L_2()" style="padding-bottom: 10px;">LẨU HẢI SẢN SA TẾ - BÚN TƯƠI</li>
                        <li onclick="L_3()" style="padding-bottom: 10px;">LẨU TRÁI CÂY THƯỢNG HẠNG - MỲ HẤP</li>
                        <li onclick="L_4()" style="padding-bottom: 10px;">LẨU VƯƠNG QUỐC NẤM - MỲ HẤP</li>
                        <li onclick="L_5()" style="padding-bottom: 10px;">LẨU CÁ TẦM - MỲ SOMEN</li>
                        <li onclick="L_6()" style="padding-bottom: 10px;">LẨU HẢI SẢN KIỂU NHẬT - MỲ SOMEN</li>
                        <li onclick="L_7()" style="padding-bottom: 10px;">LẨU TÔM THÁI LAN - BÚN TƯƠI</li>
                    </ul>
                    <p style="font-size: 18px; font-weight: bold; color: #b86808; text-align: right; margin-top: -30px;"> ~650.000 (VND)</p>
                </div>


            </div>
            <div class="left_bot">
                <div class="div_number" onclick="show_KhaiVi()">1</div>
                <div class="div_number" onclick="show_Soup()">2</div>
                <div class="div_number" onclick="show_Tom()">3</div>
                <div class="div_number" onclick="show_Cua()">4</div>
                <div class="div_number" onclick="show_Ca()">5</div>
                <div class="div_number" onclick="show_Bo()">6</div>
                <div class="div_number" onclick="show_Heo()">7</div>
                <div class="div_number" onclick="show_Ga()">8</div>
                <div class="div_number" onclick="show_Com()">9</div>
                <div class="div_number" onclick="show_AnKem()">10</div>
                <div class="div_number" onclick="show_Lau()">11</div>
                <div class="div_number" onclick="show_TrangMieng()">12</div>

                
            </div>
        </div>

        <div class="div_right">
            @*KHAI VỊ*@
            <div id="KHAIVI">
                @*<div id="kv1" class="an_div"> <img src="~/Image/Menu/KhaiVi_Image/kv1.jpg" class="image" /></div>
                <div id="kv2" class="an_div"> <img src="~/Image/Menu/KhaiVi_Image/kv2.jpg" class="image" /></div>
                <div id="kv3" class="an_div"> <img src="~/Image/Menu/KhaiVi_Image/kv3.jpg" class="image" /></div>
                <div id="kv4" class="an_div"> <img src="~/Image/Menu/KhaiVi_Image/kv4.jpg" class="image" /></div>
                <div id="kv5" class="an_div"> <img src="~/Image/Menu/KhaiVi_Image/kv5.jpg" class="image" /></div>
                <div id="kv6" class="an_div"> <img src="~/Image/Menu/KhaiVi_Image/kv6.jpg" class="image" /></div>
                <div id="kv7" class="an_div"> <img src="~/Image/Menu/KhaiVi_Image/kv7.jpg" class="image" /></div>
                <div id="kv8" class="an_div"> <img src="~/Image/Menu/KhaiVi_Image/kv8.jpg" class="image" /></div>
                <div id="kv9" class="an_div"> <img src="~/Image/Menu/KhaiVi_Image/kv9.jpg" class="image" /></div>
                <div id="kv10" class="an_div"> <img src="~/Image/Menu/KhaiVi_Image/kv10.jpg" class="image" /></div>*@
            </div>

            @*SOUP*@
            <div id="SOUP">
                @*<div id="s1" class="an_div"> <img src="~/Image/Menu/MonSoup/s1.jpg" class="image" /></div>
                <div id="s2" class="an_div"> <img src="~/Image/Menu/MonSoup/s2.jpg" class="image" /></div>
                <div id="s3" class="an_div"> <img src="~/Image/Menu/MonSoup/s3.jpg" class="image" /></div>
                <div id="s4" class="an_div"> <img src="~/Image/Menu/MonSoup/s4.jpg" class="image" /></div>
                <div id="s5" class="an_div"> <img src="~/Image/Menu/MonSoup/s5.jpg" class="image" /></div>
                <div id="s6" class="an_div"> <img src="~/Image/Menu/MonSoup/s6.jpg" class="image" /></div>
                <div id="s7" class="an_div"> <img src="~/Image/Menu/MonSoup/s7.jpg" class="image" /></div>
                <div id="s8" class="an_div"> <img src="~/Image/Menu/MonSoup/s8.jpg" class="image" /></div>
                <div id="s9" class="an_div"> <img src="~/Image/Menu/MonSoup/s9.jpg" class="image" /></div>
                <div id="s10" class="an_div"> <img src="~/Image/Menu/MonSoup/s10.jpg" class="image" /></div>*@
            </div>

            @*MÓN TÔM*@
            <div id="TOM">
                @*<div id="t1" class="an_div"> <img src="~/Image/Menu/Tom/t1.jpg" class="image" /></div>
                <div id="t2" class="an_div"> <img src="~/Image/Menu/Tom/t2.jpg" class="image" /></div>
                <div id="t3" class="an_div"> <img src="~/Image/Menu/Tom/t3.jpg" class="image" /></div>
                <div id="t4" class="an_div"> <img src="~/Image/Menu/Tom/t4.jpg" class="image" /></div>
                <div id="t5" class="an_div"> <img src="~/Image/Menu/Tom/t5.jpg" class="image" /></div>*@
            </div>

            @*MÓN AN KEM*@
            <div id="ANKEM">
                @*<div id="k1" class="an_div"> <img src="~/Image/Menu/AnKem/kem1.jpg" class="image" /></div>
                <div id="k2" class="an_div"> <img src="~/Image/Menu/AnKem/kem2.jpg" class="image" /></div>
                <div id="k3" class="an_div"> <img src="~/Image/Menu/AnKem/kem3.jpg" class="image" /></div>*@
            </div>

            @*MÓN BÒ*@
            <div id="BO">
                @*<div id="b1" class="an_div"> <img src="~/Image/Menu/Bo/bo1.jpg" class="image" /></div>
                <div id="b2" class="an_div"> <img src="~/Image/Menu/Bo/bo2.jpg" class="image" /></div>
                <div id="b3" class="an_div"> <img src="~/Image/Menu/Bo/bo3.jpg" class="image" /></div>
                <div id="b4" class="an_div"> <img src="~/Image/Menu/Bo/bo4.jpg" class="image" /></div>*@
            </div>

            @*MÓN CÁ*@
            <div id="CA">
                @*<div id="ca1" class="an_div"> <img src="~/Image/Menu/Ca/ca1.jpg" class="image" /></div>
                <div id="ca2" class="an_div"> <img src="~/Image/Menu/Ca/ca2.jpg" class="image" /></div>
                <div id="ca3" class="an_div"> <img src="~/Image/Menu/Ca/ca3.jpg" class="image" /></div>
                <div id="ca4" class="an_div"> <img src="~/Image/Menu/Ca/ca4.jpg" class="image" /></div>
                <div id="ca5" class="an_div"> <img src="~/Image/Menu/Ca/ca5.jpg" class="image" /></div>*@
            </div>

            @*MÓN CƠM*@
            <!--<div id="COM">
                <div id="c1" class="an_div"> <img src="~/Image/Menu/Com/com1.jpg" class="image" /></div>
                <div id="c2" class="an_div"> <img src="~/Image/Menu/Com/com2.jpg" class="image" /></div>
                <div id="c3" class="an_div"> <img src="~/Image/Menu/Com/com3.jpg" class="image" /></div>
                <div id="c4" class="an_div"> <img src="~/Image/Menu/Com/com4.jpg" class="image" /></div>
            </div>-->

            @*MÓN CUA*@
            <!--<div id="CUA">
                <div id="cua1" class="an_div"> <img src="~/Image/Menu/Cua/cua1.jpg" class="image" /></div>
                <div id="cua2" class="an_div"> <img src="~/Image/Menu/Cua/cua2.jpg" class="image" /></div>
                <div id="cua3" class="an_div"> <img src="~/Image/Menu/Cua/cua3.jpg" class="image" /></div>
                <div id="cua4" class="an_div"> <img src="~/Image/Menu/Cua/cua4.jpg" class="image" /></div>
                <div id="cua5" class="an_div"> <img src="~/Image/Menu/Cua/cua5.jpg" class="image" /></div>
            </div>-->

            @*MÓN HEO*@
            <!--<div id="HEO">
                <div id="h1" class="an_div"> <img src="~/Image/Menu/Heo/heo1.jpg" class="image" /></div>
                <div id="h2" class="an_div"> <img src="~/Image/Menu/Heo/heo2.jpg" class="image" /></div>
                <div id="h3" class="an_div"> <img src="~/Image/Menu/Heo/heo3.jpg" class="image" /></div>
            </div>-->

            @*MÓN GÀ*@
            <!--<div id="GA">
                <div id="ga1" class="an_div"> <img src="~/Image/Menu/Ga/ga1.jpg" class="image" /></div>
                <div id="ga2" class="an_div"> <img src="~/Image/Menu/Ga/ga2.jpg" class="image" /></div>
                <div id="ga3" class="an_div"> <img src="~/Image/Menu/Ga/ga3.jpg" class="image" /></div>
                <div id="ga4" class="an_div"> <img src="~/Image/Menu/Ga/ga4.jpg" class="image" /></div>
            </div>-->

            @*MÓN LẨU*@
            <!--<div id="LAU">
                <div id="l1" class="an_div"> <img src="~/Image/Menu/Lau/lau1.jpg" class="image" /></div>
                <div id="l2" class="an_div"> <img src="~/Image/Menu/Lau/lau2.jpg" class="image" /></div>
                <div id="l3" class="an_div"> <img src="~/Image/Menu/Lau/lau3.jpg" class="image" /></div>
                <div id="l4" class="an_div"> <img src="~/Image/Menu/Lau/lau4.jpg" class="image" /></div>
                <div id="l5" class="an_div"> <img src="~/Image/Menu/Lau/lau5.jpg" class="image" /></div>
                <div id="l6" class="an_div"> <img src="~/Image/Menu/Lau/lau6.jpg" class="image" /></div>
                <div id="l7" class="an_div"> <img src="~/Image/Menu/Lau/lau7.jpg" class="image" /></div>
            </div>-->

            @*MÓN TRÁNG MIỆNG*@
            <!--<div id="TRANGMIENG">
                <div id="m1" class="an_div"> <img src="~/Image/Menu/TrangMieng/m1.jpg" class="image" /></div>
                <div id="m2" class="an_div"> <img src="~/Image/Menu/TrangMieng/m2.jpg" class="image" /></div>
                <div id="m3" class="an_div"> <img src="~/Image/Menu/TrangMieng/m3.jpg" class="image" /></div>
                <div id="m4" class="an_div"> <img src="~/Image/Menu/TrangMieng/m4.jpg" class="image" /></div>
                <div id="m5" class="an_div"> <img src="~/Image/Menu/TrangMieng/m5.jpg" class="image" /></div>-->
            </div>


        </div>
    </div>



</body>

<script>
     
    
    // show loại món
    function show_KhaiVi()
    {

        var div = document.getElementById("div_khaivi"); 
        var div_ = document.getElementById("KHAIVI");

        div.style.display = "block";
        div_.style.display = "block";

        var div_soup = document.getElementById("div_soup"); 
        var img_soup = document.getElementById("SOUP");

        var div_ga = document.getElementById("div_ga");
        var img_ga = document.getElementById("GA");

        var div_ca = document.getElementById("div_ca");
        var img_ca = document.getElementById("CA");

        var div_cua = document.getElementById("div_cua");
        var img_cua = document.getElementById("CUA");

        var div_com = document.getElementById("div_com");
        var img_com = document.getElementById("COM");

        var div_bo = document.getElementById("div_bo");
        var img_bo = document.getElementById("BO");

        var div_heo = document.getElementById("div_heo");
        var img_heo = document.getElementById("HEO");

        var div_tom = document.getElementById("div_tom");
        var img_tom = document.getElementById("TOM");

        var div_lau = document.getElementById("div_lau");
        var img_lau = document.getElementById("LAU");

        var div_kem = document.getElementById("div_kem");
        var img_kem = document.getElementById("ANKEM");

        var div_mieng = document.getElementById("div_mieng");
        var img_mieng = document.getElementById("TRANGMIENG");

        div.style.display = "block";
        div_.style.display = "block";

        div_soup.style.display = "none";
        img_soup.style.display = "none ";

        div_ga.style.display = "none";
        img_ga.style.display = "none";

        div_ca.style.display = "none";
        img_ca.style.display = "none";

        div_cua.style.display = "none";
        img_cua.style.display = "none";

        div_com.style.display = "none";
        img_com.style.display = "none";

        div_bo.style.display = "none";
        img_bo.style.display = "none";

        div_heo.style.display = "none";
        img_heo.style.display = "none";

        div_tom.style.display = "none";
        img_tom.style.display = "none";

        div_lau.style.display = "none";
        img_lau.style.display = "none";

        div_kem.style.display = "none";
        img_kem.style.display = "none";

        div_mieng.style.display = "none";
        img_mieng.style.display = "none";

    }
    function show_Soup() {
        //
        var div = document.getElementById("div_soup");  
        var div_ = document.getElementById("SOUP"); 
        
      
        var div_khaivi = document.getElementById("div_khaivi");  
        var img_khaivi = document.getElementById("KHAIVI");

        var div_ga = document.getElementById("div_ga");
        var img_ga = document.getElementById("GA");

        var div_ca = document.getElementById("div_ca");
        var img_ca = document.getElementById("CA");

        var div_cua = document.getElementById("div_cua");
        var img_cua = document.getElementById("CUA");

        var div_com = document.getElementById("div_com");
        var img_com = document.getElementById("COM");

        var div_bo = document.getElementById("div_bo");
        var img_bo = document.getElementById("BO");

        var div_heo = document.getElementById("div_heo");
        var img_heo = document.getElementById("HEO");

        var div_tom = document.getElementById("div_tom");
        var img_tom = document.getElementById("TOM");

        var div_lau = document.getElementById("div_lau");
        var img_lau = document.getElementById("LAU");

        var div_kem = document.getElementById("div_kem");
        var img_kem = document.getElementById("ANKEM");

        var div_mieng = document.getElementById("div_mieng");
        var img_mieng = document.getElementById("TRANGMIENG");

        div.style.display = "block";
        div_.style.display = "block";

        div_khaivi.style.display = "none";
        img_khaivi.style.display = "none";

        div_ga.style.display = "none";
        img_ga.style.display = "none";

        div_ca.style.display = "none";
        img_ca.style.display = "none";

        div_cua.style.display = "none";
        img_cua.style.display = "none";

        div_com.style.display = "none";
        img_com.style.display = "none";

        div_bo.style.display = "none";
        img_bo.style.display = "none";

        div_heo.style.display = "none";
        img_heo.style.display = "none";

        div_tom.style.display = "none";
        img_tom.style.display = "none";

        div_lau.style.display = "none";
        img_lau.style.display = "none";

        div_kem.style.display = "none";
        img_kem.style.display = "none";

        div_mieng.style.display = "none";
        img_mieng.style.display = "none";
    }
    function show_Ca() {
        //
        var div = document.getElementById("div_ca");
        var div_ = document.getElementById("CA");


        var div_khaivi = document.getElementById("div_khaivi");
        var img_khaivi = document.getElementById("KHAIVI");

        var div_ga = document.getElementById("div_ga");
        var img_ga = document.getElementById("GA");

        var div_soup = document.getElementById("div_soup");
        var img_soup = document.getElementById("SOUP");

        var div_cua = document.getElementById("div_cua");
        var img_cua = document.getElementById("CUA");

        var div_com = document.getElementById("div_com");
        var img_com = document.getElementById("COM");

        var div_bo = document.getElementById("div_bo");
        var img_bo = document.getElementById("BO");

        var div_heo = document.getElementById("div_heo");
        var img_heo = document.getElementById("HEO");

        var div_tom = document.getElementById("div_tom");
        var img_tom = document.getElementById("TOM");

        var div_lau = document.getElementById("div_lau");
        var img_lau = document.getElementById("LAU");

        var div_kem = document.getElementById("div_kem");
        var img_kem = document.getElementById("ANKEM");

        var div_mieng = document.getElementById("div_mieng");
        var img_mieng = document.getElementById("TRANGMIENG");

        div.style.display = "block";
        div_.style.display = "block";

        div_khaivi.style.display = "none";
        img_khaivi.style.display = "none";

        div_ga.style.display = "none";
        img_ga.style.display = "none";

        div_soup.style.display = "none";
        img_soup.style.display = "none";

        div_cua.style.display = "none";
        img_cua.style.display = "none";

        div_com.style.display = "none";
        img_com.style.display = "none";

        div_bo.style.display = "none";
        img_bo.style.display = "none";

        div_heo.style.display = "none";
        img_heo.style.display = "none";

        div_tom.style.display = "none";
        img_tom.style.display = "none";

        div_lau.style.display = "none";
        img_lau.style.display = "none";

        div_kem.style.display = "none";
        img_kem.style.display = "none";

        div_mieng.style.display = "none";
        img_mieng.style.display = "none";
    }
    function show_Cua() {
        //
        var div = document.getElementById("div_cua");
        var div_ = document.getElementById("CUA");


        var div_khaivi = document.getElementById("div_khaivi");
        var img_khaivi = document.getElementById("KHAIVI");

        var div_ga = document.getElementById("div_ga");
        var img_ga = document.getElementById("GA");

        var div_ca = document.getElementById("div_ca");
        var img_ca = document.getElementById("CA");

        var div_soup = document.getElementById("div_soup");
        var img_soup = document.getElementById("SOUP");

        var div_com = document.getElementById("div_com");
        var img_com = document.getElementById("COM");

        var div_bo = document.getElementById("div_bo");
        var img_bo = document.getElementById("BO");

        var div_heo = document.getElementById("div_heo");
        var img_heo = document.getElementById("HEO");

        var div_tom = document.getElementById("div_tom");
        var img_tom = document.getElementById("TOM");

        var div_lau = document.getElementById("div_lau");
        var img_lau = document.getElementById("LAU");

        var div_kem = document.getElementById("div_kem");
        var img_kem = document.getElementById("ANKEM");

        var div_mieng = document.getElementById("div_mieng");
        var img_mieng = document.getElementById("TRANGMIENG");

        div.style.display = "block";
        div_.style.display = "block";

        div_khaivi.style.display = "none";
        img_khaivi.style.display = "none";

        div_ga.style.display = "none";
        img_ga.style.display = "none";

        div_ca.style.display = "none";
        img_ca.style.display = "none";

        div_soup.style.display = "none";
        img_soup.style.display = "none";

        div_com.style.display = "none";
        img_com.style.display = "none";

        div_bo.style.display = "none";
        img_bo.style.display = "none";

        div_heo.style.display = "none";
        img_heo.style.display = "none";

        div_tom.style.display = "none";
        img_tom.style.display = "none";

        div_lau.style.display = "none";
        img_lau.style.display = "none";

        div_kem.style.display = "none";
        img_kem.style.display = "none";

        div_mieng.style.display = "none";
        img_mieng.style.display = "none";
    }
    function show_Com() {
        //
        var div = document.getElementById("div_com");
        var div_ = document.getElementById("COM");


        var div_khaivi = document.getElementById("div_khaivi");
        var img_khaivi = document.getElementById("KHAIVI");

        var div_ga = document.getElementById("div_ga");
        var img_ga = document.getElementById("GA");

        var div_ca = document.getElementById("div_ca");
        var img_ca = document.getElementById("CA");

        var div_cua = document.getElementById("div_cua");
        var img_cua = document.getElementById("CUA");

        var div_soup = document.getElementById("div_SOUP");
        var img_soup = document.getElementById("SOUP");

        var div_bo = document.getElementById("div_bo");
        var img_bo = document.getElementById("BO");

        var div_heo = document.getElementById("div_heo");
        var img_heo = document.getElementById("HEO");

        var div_tom = document.getElementById("div_tom");
        var img_tom = document.getElementById("TOM");

        var div_lau = document.getElementById("div_lau");
        var img_lau = document.getElementById("LAU");

        var div_kem = document.getElementById("div_kem");
        var img_kem = document.getElementById("ANKEM");

        var div_mieng = document.getElementById("div_mieng");
        var img_mieng = document.getElementById("TRANGMIENG");

        div.style.display = "block";
        div_.style.display = "block";

        div_khaivi.style.display = "none";
        img_khaivi.style.display = "none";

        div_ga.style.display = "none";
        img_ga.style.display = "none";

        div_ca.style.display = "none";
        img_ca.style.display = "none";

        div_cua.style.display = "none";
        img_cua.style.display = "none";

        div_soup.style.display = "none";
        img_soup.style.display = "none";

        div_bo.style.display = "none";
        img_bo.style.display = "none";

        div_heo.style.display = "none";
        img_heo.style.display = "none";

        div_tom.style.display = "none";
        img_tom.style.display = "none";

        div_lau.style.display = "none";
        img_lau.style.display = "none";

        div_kem.style.display = "none";
        img_kem.style.display = "none";

        div_mieng.style.display = "none";
        img_mieng.style.display = "none";
    }
    function show_Ga() {
        //
        var div = document.getElementById("div_ga");
        var div_ = document.getElementById("GA");


        var div_khaivi = document.getElementById("div_khaivi");
        var img_khaivi = document.getElementById("KHAIVI");

        var div_soup = document.getElementById("div_soup");
        var img_soup = document.getElementById("SOUP");

        var div_ca = document.getElementById("div_ca");
        var img_ca = document.getElementById("CA");

        var div_cua = document.getElementById("div_cua");
        var img_cua = document.getElementById("CUA");

        var div_com = document.getElementById("div_com");
        var img_com = document.getElementById("COM");

        var div_bo = document.getElementById("div_bo");
        var img_bo = document.getElementById("BO");

        var div_heo = document.getElementById("div_heo");
        var img_heo = document.getElementById("HEO");

        var div_tom = document.getElementById("div_tom");
        var img_tom = document.getElementById("TOM");

        var div_lau = document.getElementById("div_lau");
        var img_lau = document.getElementById("LAU");

        var div_kem = document.getElementById("div_kem");
        var img_kem = document.getElementById("ANKEM");

        var div_mieng = document.getElementById("div_mieng");
        var img_mieng = document.getElementById("TRANGMIENG");

        div.style.display = "block";
        div_.style.display = "block";

        div_khaivi.style.display = "none";
        img_khaivi.style.display = "none";

        div_soup.style.display = "none";
        img_soup.style.display = "none";

        div_ca.style.display = "none";
        img_ca.style.display = "none";

        div_cua.style.display = "none";
        img_cua.style.display = "none";

        div_com.style.display = "none";
        img_com.style.display = "none";

        div_bo.style.display = "none";
        img_bo.style.display = "none";

        div_heo.style.display = "none";
        img_heo.style.display = "none";

        div_tom.style.display = "none";
        img_tom.style.display = "none";

        div_lau.style.display = "none";
        img_lau.style.display = "none";

        div_kem.style.display = "none";
        img_kem.style.display = "none";

        div_mieng.style.display = "none";
        img_mieng.style.display = "none";
    }
    function show_Bo() {
        //
        var div = document.getElementById("div_bo");
        var div_ = document.getElementById("BO");


        var div_khaivi = document.getElementById("div_khaivi");
        var img_khaivi = document.getElementById("KHAIVI");

        var div_ga = document.getElementById("div_ga");
        var img_ga = document.getElementById("GA");

        var div_ca = document.getElementById("div_ca");
        var img_ca = document.getElementById("CA");

        var div_cua = document.getElementById("div_cua");
        var img_cua = document.getElementById("CUA");

        var div_com = document.getElementById("div_com");
        var img_com = document.getElementById("COM");

        var div_soup = document.getElementById("div_soup");
        var img_soup = document.getElementById("SOUP");

        var div_heo = document.getElementById("div_heo");
        var img_heo = document.getElementById("HEO");

        var div_tom = document.getElementById("div_tom");
        var img_tom = document.getElementById("TOM");

        var div_lau = document.getElementById("div_lau");
        var img_lau = document.getElementById("LAU");

        var div_kem = document.getElementById("div_kem");
        var img_kem = document.getElementById("ANKEM");

        var div_mieng = document.getElementById("div_mieng");
        var img_mieng = document.getElementById("TRANGMIENG");

        div.style.display = "block";
        div_.style.display = "block";

        div_khaivi.style.display = "none";
        img_khaivi.style.display = "none";

        div_ga.style.display = "none";
        img_ga.style.display = "none";

        div_ca.style.display = "none";
        img_ca.style.display = "none";

        div_cua.style.display = "none";
        img_cua.style.display = "none";

        div_com.style.display = "none";
        img_com.style.display = "none";

        div_soup.style.display = "none";
        img_soup.style.display = "none";

        div_heo.style.display = "none";
        img_heo.style.display = "none";

        div_tom.style.display = "none";
        img_tom.style.display = "none";

        div_lau.style.display = "none";
        img_lau.style.display = "none";

        div_kem.style.display = "none";
        img_kem.style.display = "none";

        div_mieng.style.display = "none";
        img_mieng.style.display = "none";
    }
    function show_Heo() {
        //
        var div = document.getElementById("div_heo");
        var div_ = document.getElementById("HEO");


        var div_khaivi = document.getElementById("div_khaivi");
        var img_khaivi = document.getElementById("KHAIVI");

        var div_ga = document.getElementById("div_ga");
        var img_ga = document.getElementById("GA");

        var div_ca = document.getElementById("div_ca");
        var img_ca = document.getElementById("CA");

        var div_cua = document.getElementById("div_cua");
        var img_cua = document.getElementById("CUA");

        var div_com = document.getElementById("div_com");
        var img_com = document.getElementById("COM");

        var div_bo = document.getElementById("div_bo");
        var img_bo = document.getElementById("BO");

        var div_soup = document.getElementById("div_soup");
        var img_soup = document.getElementById("soup");

        var div_tom = document.getElementById("div_tom");
        var img_tom = document.getElementById("TOM");

        var div_lau = document.getElementById("div_lau");
        var img_lau = document.getElementById("LAU");

        var div_kem = document.getElementById("div_kem");
        var img_kem = document.getElementById("ANKEM");

        var div_mieng = document.getElementById("div_mieng");
        var img_mieng = document.getElementById("TRANGMIENG");

        div.style.display = "block";
        div_.style.display = "block";

        div_khaivi.style.display = "none";
        img_khaivi.style.display = "none";

        div_ga.style.display = "none";
        img_ga.style.display = "none";

        div_ca.style.display = "none";
        img_ca.style.display = "none";

        div_cua.style.display = "none";
        img_cua.style.display = "none";

        div_com.style.display = "none";
        img_com.style.display = "none";

        div_bo.style.display = "none";
        img_bo.style.display = "none";

        div_soup.style.display = "none";
        img_soup.style.display = "none";

        div_tom.style.display = "none";
        img_tom.style.display = "none";

        div_lau.style.display = "none";
        img_lau.style.display = "none";

        div_kem.style.display = "none";
        img_kem.style.display = "none";

        div_mieng.style.display = "none";
        img_mieng.style.display = "none";
    }
    function show_Tom() {
        //
        var div = document.getElementById("div_tom");
        var div_ = document.getElementById("TOM");


        var div_khaivi = document.getElementById("div_khaivi");
        var img_khaivi = document.getElementById("KHAIVI");

        var div_ga = document.getElementById("div_ga");
        var img_ga = document.getElementById("GA");

        var div_ca = document.getElementById("div_ca");
        var img_ca = document.getElementById("CA");

        var div_cua = document.getElementById("div_cua");
        var img_cua = document.getElementById("CUA");

        var div_com = document.getElementById("div_com");
        var img_com = document.getElementById("COM");

        var div_bo = document.getElementById("div_bo");
        var img_bo = document.getElementById("BO");

        var div_heo = document.getElementById("div_heo");
        var img_heo = document.getElementById("HEO");

        var div_soup = document.getElementById("div_soup");
        var img_soup = document.getElementById("SOUP");

        var div_lau = document.getElementById("div_lau");
        var img_lau = document.getElementById("LAU");

        var div_kem = document.getElementById("div_kem");
        var img_kem = document.getElementById("ANKEM");

        var div_mieng = document.getElementById("div_mieng");
        var img_mieng = document.getElementById("TRANGMIENG");

        div.style.display = "block";
        div_.style.display = "block";

        div_khaivi.style.display = "none";
        img_khaivi.style.display = "none";

        div_ga.style.display = "none";
        img_ga.style.display = "none";

        div_ca.style.display = "none";
        img_ca.style.display = "none";

        div_cua.style.display = "none";
        img_cua.style.display = "none";

        div_com.style.display = "none";
        img_com.style.display = "none";

        div_bo.style.display = "none";
        img_bo.style.display = "none";

        div_heo.style.display = "none";
        img_heo.style.display = "none";

        div_soup.style.display = "none";
        img_soup.style.display = "none";

        div_lau.style.display = "none";
        img_lau.style.display = "none";

        div_kem.style.display = "none";
        img_kem.style.display = "none";

        div_mieng.style.display = "none";
        img_mieng.style.display = "none";
    }
    function show_Lau() {
        //
        var div = document.getElementById("div_lau");
        var div_ = document.getElementById("LAU");


        var div_khaivi = document.getElementById("div_khaivi");
        var img_khaivi = document.getElementById("KHAIVI");

        var div_ga = document.getElementById("div_ga");
        var img_ga = document.getElementById("GA");

        var div_ca = document.getElementById("div_ca");
        var img_ca = document.getElementById("CA");

        var div_cua = document.getElementById("div_cua");
        var img_cua = document.getElementById("CUA");

        var div_com = document.getElementById("div_com");
        var img_com = document.getElementById("COM");

        var div_bo = document.getElementById("div_bo");
        var img_bo = document.getElementById("BO");

        var div_heo = document.getElementById("div_heo");
        var img_heo = document.getElementById("HEO");

        var div_tom = document.getElementById("div_tom");
        var img_tom = document.getElementById("TOM");

        var div_soup = document.getElementById("div_soup");
        var img_soup = document.getElementById("SOUP");

        var div_kem = document.getElementById("div_kem");
        var img_kem = document.getElementById("ANKEM");

        var div_mieng = document.getElementById("div_mieng");
        var img_mieng = document.getElementById("TRANGMIENG");

        div.style.display = "block";
        div_.style.display = "block";

        div_khaivi.style.display = "none";
        img_khaivi.style.display = "none";

        div_ga.style.display = "none";
        img_ga.style.display = "none";

        div_ca.style.display = "none";
        img_ca.style.display = "none";

        div_cua.style.display = "none";
        img_cua.style.display = "none";

        div_com.style.display = "none";
        img_com.style.display = "none";

        div_bo.style.display = "none";
        img_bo.style.display = "none";

        div_heo.style.display = "none";
        img_heo.style.display = "none";

        div_tom.style.display = "none";
        img_tom.style.display = "none";

        div_soup.style.display = "none";
        img_soup.style.display = "none";

        div_kem.style.display = "none";
        img_kem.style.display = "none";

        div_mieng.style.display = "none";
        img_mieng.style.display = "none";
    }
    function show_AnKem() {
        //
        var div = document.getElementById("div_kem");
        var div_ = document.getElementById("ANKEM");


        var div_khaivi = document.getElementById("div_khaivi");
        var img_khaivi = document.getElementById("KHAIVI");

        var div_ga = document.getElementById("div_ga");
        var img_ga = document.getElementById("GA");

        var div_ca = document.getElementById("div_ca");
        var img_ca = document.getElementById("CA");

        var div_cua = document.getElementById("div_cua");
        var img_cua = document.getElementById("CUA");

        var div_com = document.getElementById("div_com");
        var img_com = document.getElementById("COM");

        var div_bo = document.getElementById("div_bo");
        var img_bo = document.getElementById("BO");

        var div_heo = document.getElementById("div_heo");
        var img_heo = document.getElementById("HEO");

        var div_tom = document.getElementById("div_tom");
        var img_tom = document.getElementById("TOM");

        var div_lau = document.getElementById("div_lau");
        var img_lau = document.getElementById("LAU");

        var div_soup = document.getElementById("div_soup");
        var img_soup = document.getElementById("SOUP");

        var div_mieng = document.getElementById("div_mieng");
        var img_mieng = document.getElementById("TRANGMIENG");

        div.style.display = "block";
        div_.style.display = "block";

        div_khaivi.style.display = "none";
        img_khaivi.style.display = "none";

        div_ga.style.display = "none";
        img_ga.style.display = "none";

        div_ca.style.display = "none";
        img_ca.style.display = "none";

        div_cua.style.display = "none";
        img_cua.style.display = "none";

        div_com.style.display = "none";
        img_com.style.display = "none";

        div_bo.style.display = "none";
        img_bo.style.display = "none";

        div_heo.style.display = "none";
        img_heo.style.display = "none";

        div_tom.style.display = "none";
        img_tom.style.display = "none";

        div_lau.style.display = "none";
        img_lau.style.display = "none";

        div_soup.style.display = "none";
        img_soup.style.display = "none";

        div_mieng.style.display = "none";
        img_mieng.style.display = "none";
    }
    function show_TrangMieng() {
        //
        var div = document.getElementById("div_mieng");
        var div_ = document.getElementById("TRANGMIENG");


        var div_khaivi = document.getElementById("div_khaivi");
        var img_khaivi = document.getElementById("KHAIVI");

        var div_ga = document.getElementById("div_ga");
        var img_ga = document.getElementById("GA");

        var div_ca = document.getElementById("div_ca");
        var img_ca = document.getElementById("CA");

        var div_cua = document.getElementById("div_cua");
        var img_cua = document.getElementById("CUA");

        var div_com = document.getElementById("div_com");
        var img_com = document.getElementById("COM");

        var div_bo = document.getElementById("div_bo");
        var img_bo = document.getElementById("BO");

        var div_heo = document.getElementById("div_heo");
        var img_heo = document.getElementById("HEO");

        var div_tom = document.getElementById("div_tom");
        var img_tom = document.getElementById("TOM");

        var div_lau = document.getElementById("div_lau");
        var img_lau = document.getElementById("LAU");

        var div_kem = document.getElementById("div_kem");
        var img_kem = document.getElementById("ANKEM");

        var div_mieng = document.getElementById("div_soup");
        var img_mieng = document.getElementById("SOUP");

        div.style.display = "block";
        div_.style.display = "block";

        div_khaivi.style.display = "none";
        img_khaivi.style.display = "none";

        div_ga.style.display = "none";
        img_ga.style.display = "none";

        div_ca.style.display = "none";
        img_ca.style.display = "none";

        div_cua.style.display = "none";
        img_cua.style.display = "none";

        div_com.style.display = "none";
        img_com.style.display = "none";

        div_bo.style.display = "none";
        img_bo.style.display = "none";

        div_heo.style.display = "none";
        img_heo.style.display = "none";

        div_tom.style.display = "none";
        img_tom.style.display = "none";

        div_lau.style.display = "none";
        img_lau.style.display = "none";

        div_kem.style.display = "none";
        img_kem.style.display = "none";

        div_mieng.style.display = "none";
        img_mieng.style.display = "none";
    }


    // show Image KHAI VỊ
    function KV_1() {
        var div = document.getElementById("kv1");
        
        var kv2_ = document.getElementById("kv2");
        var kv3_ = document.getElementById("kv3");
        var kv4_ = document.getElementById("kv4");
        var kv5_ = document.getElementById("kv5");
        var kv6_ = document.getElementById("kv6");
        var kv7_ = document.getElementById("kv7");
        var kv8_ = document.getElementById("kv8");
        var kv9_ = document.getElementById("kv9");
        var kv10_ = document.getElementById("kv10");
            
        div.style.display = "block";
       
        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }
    function KV_2() {
        var div = document.getElementById("kv2");
        var kv1_ = document.getElementById("kv1");        
        var kv3_ = document.getElementById("kv3");
        var kv4_ = document.getElementById("kv4");
        var kv5_ = document.getElementById("kv5");
        var kv6_ = document.getElementById("kv6");
        var kv7_ = document.getElementById("kv7");
        var kv8_ = document.getElementById("kv8");
        var kv9_ = document.getElementById("kv9");
        var kv10_ = document.getElementById("kv10");

        div.style.display = "block";

        kv1_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }
    function KV_3() {
        var div = document.getElementById("kv3");
        var kv1_ = document.getElementById("kv1");
        var kv2_ = document.getElementById("kv2");
        var kv4_ = document.getElementById("kv4");
        var kv5_ = document.getElementById("kv5");
        var kv6_ = document.getElementById("kv6");
        var kv7_ = document.getElementById("kv7");
        var kv8_ = document.getElementById("kv8");
        var kv9_ = document.getElementById("kv9");
        var kv10_ = document.getElementById("kv10");

        div.style.display = "block";

        kv1_.style.display = "none";
        kv2_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }
    function KV_4() {
        var div = document.getElementById("kv4");
        var kv1_ = document.getElementById("kv1");
        var kv3_ = document.getElementById("kv3");
        var kv2_ = document.getElementById("kv2");
        var kv5_ = document.getElementById("kv5");
        var kv6_ = document.getElementById("kv6");
        var kv7_ = document.getElementById("kv7");
        var kv8_ = document.getElementById("kv8");
        var kv9_ = document.getElementById("kv9");
        var kv10_ = document.getElementById("kv10");

        div.style.display = "block";

        kv1_.style.display = "none";
        kv3_.style.display = "none";
        kv2_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }
    function KV_5() {
        var div = document.getElementById("kv5");
        var kv1_ = document.getElementById("kv1");
        var kv3_ = document.getElementById("kv3");
        var kv4_ = document.getElementById("kv4");
        var kv2_ = document.getElementById("kv2");
        var kv6_ = document.getElementById("kv6");
        var kv7_ = document.getElementById("kv7");
        var kv8_ = document.getElementById("kv8");
        var kv9_ = document.getElementById("kv9");
        var kv10_ = document.getElementById("kv10");

        div.style.display = "block";

        kv1_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv2_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }
    function KV_6() {
        var div = document.getElementById("kv6");
        var kv1_ = document.getElementById("kv1");
        var kv3_ = document.getElementById("kv3");
        var kv4_ = document.getElementById("kv4");
        var kv5_ = document.getElementById("kv5");
        var kv6_ = document.getElementById("kv2");
        var kv7_ = document.getElementById("kv7");
        var kv8_ = document.getElementById("kv8");
        var kv9_ = document.getElementById("kv9");
        var kv10_ = document.getElementById("kv10");

        div.style.display = "block";

        kv1_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }
    function KV_7() {
        var div = document.getElementById("kv7");
        var kv1_ = document.getElementById("kv1");
        var kv3_ = document.getElementById("kv3");
        var kv4_ = document.getElementById("kv4");
        var kv5_ = document.getElementById("kv5");
        var kv6_ = document.getElementById("kv6");
        var kv7_ = document.getElementById("kv2");
        var kv8_ = document.getElementById("kv8");
        var kv9_ = document.getElementById("kv9");
        var kv10_ = document.getElementById("kv10");

        div.style.display = "block";

        kv1_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }
    function KV_8() {
        var div = document.getElementById("kv8");
        var kv1_ = document.getElementById("kv1");
        var kv3_ = document.getElementById("kv3");
        var kv4_ = document.getElementById("kv4");
        var kv5_ = document.getElementById("kv5");
        var kv6_ = document.getElementById("kv6");
        var kv7_ = document.getElementById("kv7");
        var kv8_ = document.getElementById("kv2");
        var kv9_ = document.getElementById("kv9");
        var kv10_ = document.getElementById("kv10");

        div.style.display = "block";

        kv1_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }
    function KV_9() {
        var div = document.getElementById("kv9");
        var kv1_ = document.getElementById("kv1");
        var kv3_ = document.getElementById("kv3");
        var kv4_ = document.getElementById("kv4");
        var kv5_ = document.getElementById("kv5");
        var kv6_ = document.getElementById("kv6");
        var kv7_ = document.getElementById("kv7");
        var kv8_ = document.getElementById("kv8");
        var kv9_ = document.getElementById("kv2");
        var kv10_ = document.getElementById("kv10");

        div.style.display = "block";

        kv1_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }
    function KV_10() {
        var div = document.getElementById("kv10");
        var kv1_ = document.getElementById("kv1");
        var kv3_ = document.getElementById("kv3");
        var kv4_ = document.getElementById("kv4");
        var kv5_ = document.getElementById("kv5");
        var kv6_ = document.getElementById("kv6");
        var kv7_ = document.getElementById("kv7");
        var kv8_ = document.getElementById("kv8");
        var kv9_ = document.getElementById("kv9");
        var kv10_ = document.getElementById("kv2");

        div.style.display = "block";       

        kv1_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }

    // show Image SOUP
    function S_1() {
        var div = document.getElementById("s1");
        
        var kv2_ = document.getElementById("s2");
        var kv3_ = document.getElementById("s3");
        var kv4_ = document.getElementById("s4");
        var kv5_ = document.getElementById("s5");
        var kv6_ = document.getElementById("s6");
        var kv7_ = document.getElementById("s7");
        var kv8_ = document.getElementById("s8");
        var kv9_ = document.getElementById("s9");
        var kv10_ = document.getElementById("s10");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }
    function S_2() {
        var div = document.getElementById("s2");
        var kv2_ = document.getElementById("s1");
        var kv3_ = document.getElementById("s3");
        var kv4_ = document.getElementById("s4");
        var kv5_ = document.getElementById("s5");
        var kv6_ = document.getElementById("s6");
        var kv7_ = document.getElementById("s7");
        var kv8_ = document.getElementById("s8");
        var kv9_ = document.getElementById("s9");
        var kv10_ = document.getElementById("s10");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }
    function S_3() {
        var div = document.getElementById("s3");
        var kv2_ = document.getElementById("s2");
        var kv3_ = document.getElementById("s1");
        var kv4_ = document.getElementById("s4");
        var kv5_ = document.getElementById("s5");
        var kv6_ = document.getElementById("s6");
        var kv7_ = document.getElementById("s7");
        var kv8_ = document.getElementById("s8");
        var kv9_ = document.getElementById("s9");
        var kv10_ = document.getElementById("s10");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }
    function S_4() {
        var div = document.getElementById("s4");
        var kv2_ = document.getElementById("s2");
        var kv3_ = document.getElementById("s3");
        var kv4_ = document.getElementById("s1");
        var kv5_ = document.getElementById("s5");
        var kv6_ = document.getElementById("s6");
        var kv7_ = document.getElementById("s7");
        var kv8_ = document.getElementById("s8");
        var kv9_ = document.getElementById("s9");
        var kv10_ = document.getElementById("s10");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }
    function S_5() {
        var div = document.getElementById("s5");
        var kv2_ = document.getElementById("s2");
        var kv3_ = document.getElementById("s3");
        var kv4_ = document.getElementById("s4");
        var kv5_ = document.getElementById("s1");
        var kv6_ = document.getElementById("s6");
        var kv7_ = document.getElementById("s7");
        var kv8_ = document.getElementById("s8");
        var kv9_ = document.getElementById("s9");
        var kv10_ = document.getElementById("s10");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }
    function S_6() {
        var div = document.getElementById("s6");
        var kv2_ = document.getElementById("s2");
        var kv3_ = document.getElementById("s3");
        var kv4_ = document.getElementById("s4");
        var kv5_ = document.getElementById("s5");
        var kv6_ = document.getElementById("s1");
        var kv7_ = document.getElementById("s7");
        var kv8_ = document.getElementById("s8");
        var kv9_ = document.getElementById("s9");
        var kv10_ = document.getElementById("s10");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }
    function S_7() {
        var div = document.getElementById("s7");
        var kv2_ = document.getElementById("s2");
        var kv3_ = document.getElementById("s3");
        var kv4_ = document.getElementById("s4");
        var kv5_ = document.getElementById("s5");
        var kv6_ = document.getElementById("s6");
        var kv7_ = document.getElementById("s1");
        var kv8_ = document.getElementById("s8");
        var kv9_ = document.getElementById("s9");
        var kv10_ = document.getElementById("s10");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }
    function S_8() {
        var div = document.getElementById("s8");
        var kv2_ = document.getElementById("s2");
        var kv3_ = document.getElementById("s3");
        var kv4_ = document.getElementById("s4");
        var kv5_ = document.getElementById("s5");
        var kv6_ = document.getElementById("s6");
        var kv7_ = document.getElementById("s7");
        var kv8_ = document.getElementById("s1");
        var kv9_ = document.getElementById("s9");
        var kv10_ = document.getElementById("s10");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }
    function S_9() {
        var div = document.getElementById("s9");
        var kv2_ = document.getElementById("s2");
        var kv3_ = document.getElementById("s3");
        var kv4_ = document.getElementById("s4");
        var kv5_ = document.getElementById("s5");
        var kv6_ = document.getElementById("s6");
        var kv7_ = document.getElementById("s7");
        var kv8_ = document.getElementById("s8");
        var kv9_ = document.getElementById("s1");
        var kv10_ = document.getElementById("s10");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }
    function S_10() {
        var div = document.getElementById("s10");
        var kv2_ = document.getElementById("s2");
        var kv3_ = document.getElementById("s3");
        var kv4_ = document.getElementById("s4");
        var kv5_ = document.getElementById("s5");
        var kv6_ = document.getElementById("s6");
        var kv7_ = document.getElementById("s7");
        var kv8_ = document.getElementById("s8");
        var kv9_ = document.getElementById("s9");
        var kv10_ = document.getElementById("s1");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
        kv8_.style.display = "none";
        kv9_.style.display = "none";
        kv10_.style.display = "none";
    }

    // show Image CÁ
    function CA_1() {
        var div = document.getElementById("ca1");
        var kv2_ = document.getElementById("ca2");
        var kv3_ = document.getElementById("ca3");
        var kv4_ = document.getElementById("ca4");
        var kv5_ = document.getElementById("ca5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function CA_2() {
        var div = document.getElementById("ca2");
        var kv2_ = document.getElementById("ca1");
        var kv3_ = document.getElementById("ca3");
        var kv4_ = document.getElementById("ca4");
        var kv5_ = document.getElementById("ca5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function CA_3() {
        var div = document.getElementById("ca3");
        var kv2_ = document.getElementById("ca2");
        var kv3_ = document.getElementById("ca1");
        var kv4_ = document.getElementById("ca4");
        var kv5_ = document.getElementById("ca5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function CA_4() {
        var div = document.getElementById("ca4");
        var kv2_ = document.getElementById("ca2");
        var kv3_ = document.getElementById("ca3");
        var kv4_ = document.getElementById("ca1");
        var kv5_ = document.getElementById("ca5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function CA_5() {
        var div = document.getElementById("ca5");
        var kv2_ = document.getElementById("ca2");
        var kv3_ = document.getElementById("ca3");
        var kv4_ = document.getElementById("ca4");
        var kv5_ = document.getElementById("ca1");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }

    // show Image CUA
    function CUA_1() {
        var div = document.getElementById("cua1");
        var kv2_ = document.getElementById("cua2");
        var kv3_ = document.getElementById("cua3");
        var kv4_ = document.getElementById("cua4");
        var kv5_ = document.getElementById("cua5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function CUA_2() {
        var div = document.getElementById("cua2");
        var kv2_ = document.getElementById("cua1");
        var kv3_ = document.getElementById("cua3");
        var kv4_ = document.getElementById("cua4");
        var kv5_ = document.getElementById("cua5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function CUA_3() {
        var div = document.getElementById("cua3");
        var kv2_ = document.getElementById("cua2");
        var kv3_ = document.getElementById("cua1");
        var kv4_ = document.getElementById("cua4");
        var kv5_ = document.getElementById("cua5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function CUA_4() {
        var div = document.getElementById("cua4");
        var kv2_ = document.getElementById("cua2");
        var kv3_ = document.getElementById("cua3");
        var kv4_ = document.getElementById("cua1");
        var kv5_ = document.getElementById("cua5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function CUA_5() {
        var div = document.getElementById("cua5");
        var kv2_ = document.getElementById("cua2");
        var kv3_ = document.getElementById("cua3");
        var kv4_ = document.getElementById("cua4");
        var kv5_ = document.getElementById("cua1");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }

    // show Image CƠM
    function C_1() {
        var div = document.getElementById("c1");
        var kv2_ = document.getElementById("c2");
        var kv3_ = document.getElementById("c3");
        var kv4_ = document.getElementById("c4");
        var kv5_ = document.getElementById("c5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function C_2() {
        var div = document.getElementById("c2");
        var kv2_ = document.getElementById("c1");
        var kv3_ = document.getElementById("c3");
        var kv4_ = document.getElementById("c4");
        var kv5_ = document.getElementById("c5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function C_3() {
        var div = document.getElementById("c3");
        var kv2_ = document.getElementById("c2");
        var kv3_ = document.getElementById("c1");
        var kv4_ = document.getElementById("c4");
        var kv5_ = document.getElementById("c5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function C_4() {
        var div = document.getElementById("c4");
        var kv2_ = document.getElementById("c2");
        var kv3_ = document.getElementById("c3");
        var kv4_ = document.getElementById("c1");
        var kv5_ = document.getElementById("c5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }

    // show Image GÀ
    function G_1() {
        var div = document.getElementById("ga1");
        var kv2_ = document.getElementById("ga2");
        var kv3_ = document.getElementById("ga3");
        var kv4_ = document.getElementById("ga4");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function G_2() {
        var div = document.getElementById("ga2");
        var kv2_ = document.getElementById("ga1");
        var kv3_ = document.getElementById("ga3");
        var kv4_ = document.getElementById("ga4");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function G_3() {
        var div = document.getElementById("ga3");
        var kv2_ = document.getElementById("ga2");
        var kv3_ = document.getElementById("ga1");
        var kv4_ = document.getElementById("ga4");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function G_4() {
        var div = document.getElementById("ga4");
        var kv2_ = document.getElementById("ga2");
        var kv3_ = document.getElementById("ga3");
        var kv4_ = document.getElementById("ga1");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }

    // show Image BÒ
    function B_1() {
        var div = document.getElementById("b1");
        var kv2_ = document.getElementById("b2");
        var kv3_ = document.getElementById("b3");
        var kv4_ = document.getElementById("b4");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
    }
    function B_2() {
        var div = document.getElementById("b2");
        var kv2_ = document.getElementById("b1");
        var kv3_ = document.getElementById("b3");
        var kv4_ = document.getElementById("b4");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
    }
    function B_3() {
        var div = document.getElementById("b3");
        var kv2_ = document.getElementById("b2");
        var kv3_ = document.getElementById("b1");
        var kv4_ = document.getElementById("b4");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
    }
    function B_4() {
        var div = document.getElementById("b4");
        var kv2_ = document.getElementById("b2");
        var kv3_ = document.getElementById("b3");
        var kv4_ = document.getElementById("b1");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
    }

    // show Image HEO
    function H_1() {
        var div = document.getElementById("h1");
        var kv2_ = document.getElementById("h2");
        var kv3_ = document.getElementById("h3");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
    }
    function H_2() {
        var div = document.getElementById("h2");
        var kv2_ = document.getElementById("h1");
        var kv3_ = document.getElementById("h3");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
    }
    function H_3() {
        var div = document.getElementById("h3");
        var kv2_ = document.getElementById("h2");
        var kv3_ = document.getElementById("h1");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
    }


    // show Image TÔM
    function T_1() {
        var div = document.getElementById("t1");
        var kv2_ = document.getElementById("t2");
        var kv3_ = document.getElementById("t3");
        var kv4_ = document.getElementById("t4");
        var kv5_ = document.getElementById("t5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function T_2() {
        var div = document.getElementById("t2");
        var kv2_ = document.getElementById("t1");
        var kv3_ = document.getElementById("t3");
        var kv4_ = document.getElementById("t4");
        var kv5_ = document.getElementById("t5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function T_3() {
        var div = document.getElementById("t3");
        var kv2_ = document.getElementById("t2");
        var kv3_ = document.getElementById("t1");
        var kv4_ = document.getElementById("t4");
        var kv5_ = document.getElementById("t5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function T_4() {
        var div = document.getElementById("t4");
        var kv2_ = document.getElementById("t2");
        var kv3_ = document.getElementById("t3");
        var kv4_ = document.getElementById("t1");
        var kv5_ = document.getElementById("t5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function T_5() {
        var div = document.getElementById("t5");
        var kv2_ = document.getElementById("t2");
        var kv3_ = document.getElementById("t3");
        var kv4_ = document.getElementById("t4");
        var kv5_ = document.getElementById("t1");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }    

    // show Image LẨU
    function L_1() {
        var div = document.getElementById("l1");
        var kv2_ = document.getElementById("l2");
        var kv3_ = document.getElementById("l3");
        var kv4_ = document.getElementById("l4");
        var kv5_ = document.getElementById("l5");
        var kv6_ = document.getElementById("l7");
        var kv7_ = document.getElementById("l7");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
    }
    function L_2() {
        var div = document.getElementById("l2");
        var kv2_ = document.getElementById("l1");
        var kv3_ = document.getElementById("l3");
        var kv4_ = document.getElementById("l4");
        var kv5_ = document.getElementById("l5");
        var kv6_ = document.getElementById("l6");
        var kv7_ = document.getElementById("l7");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
    }
    function L_3() {
        var div = document.getElementById("l3");
        var kv2_ = document.getElementById("l2");
        var kv3_ = document.getElementById("l1");
        var kv4_ = document.getElementById("l4");
        var kv5_ = document.getElementById("l5");
        var kv6_ = document.getElementById("l6");
        var kv7_ = document.getElementById("l7");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
    }
    function L_4() {
        var div = document.getElementById("l4");
        var kv2_ = document.getElementById("l2");
        var kv3_ = document.getElementById("l3");
        var kv4_ = document.getElementById("l1");
        var kv5_ = document.getElementById("l5");
        var kv6_ = document.getElementById("l6");
        var kv7_ = document.getElementById("l7");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
    }
    function L_5() {
        var div = document.getElementById("l5");
        var kv2_ = document.getElementById("l2");
        var kv3_ = document.getElementById("l3");
        var kv4_ = document.getElementById("l4");
        var kv5_ = document.getElementById("l1");
        var kv6_ = document.getElementById("l6");
        var kv7_ = document.getElementById("l7");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
    }
    function L_6() {
        var div = document.getElementById("l6");
        var kv2_ = document.getElementById("l2");
        var kv3_ = document.getElementById("l3");
        var kv4_ = document.getElementById("l4");
        var kv5_ = document.getElementById("l5");
        var kv6_ = document.getElementById("l1");
        var kv7_ = document.getElementById("l7");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
    }
    function L_7() {
        var div = document.getElementById("l7");
        var kv2_ = document.getElementById("l2");
        var kv3_ = document.getElementById("l3");
        var kv4_ = document.getElementById("l4");
        var kv5_ = document.getElementById("l5");
        var kv6_ = document.getElementById("l6");
        var kv7_ = document.getElementById("l1");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
        kv6_.style.display = "none";
        kv7_.style.display = "none";
    }

    // show Image ĂN KÈM
    function K_1() {
        var div = document.getElementById("k1");
        var kv2_ = document.getElementById("k2");
        var kv3_ = document.getElementById("k3");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
    }
    function K_2() {
        var div = document.getElementById("k2");
        var kv2_ = document.getElementById("k1");
        var kv3_ = document.getElementById("k3");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
    }
    function K_3() {
        var div = document.getElementById("k3");
        var kv2_ = document.getElementById("k2");
        var kv3_ = document.getElementById("k1");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
    }


    // show Image TRÁNG MIỆNG
    function M_1() {
        var div = document.getElementById("m1");
        var kv2_ = document.getElementById("m2");
        var kv3_ = document.getElementById("m3");
        var kv4_ = document.getElementById("m4");
        var kv5_ = document.getElementById("m5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function M_2() {
        var div = document.getElementById("m2");
        var kv2_ = document.getElementById("m1");
        var kv3_ = document.getElementById("m3");
        var kv4_ = document.getElementById("m4");
        var kv5_ = document.getElementById("m5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function M_3() {
        var div = document.getElementById("m3");
        var kv2_ = document.getElementById("m2");
        var kv3_ = document.getElementById("m1");
        var kv4_ = document.getElementById("m4");
        var kv5_ = document.getElementById("m5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function M_4() {
        var div = document.getElementById("m4");
        var kv2_ = document.getElementById("m2");
        var kv3_ = document.getElementById("m3");
        var kv4_ = document.getElementById("m1");
        var kv5_ = document.getElementById("m5");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }
    function M_5() {
        var div = document.getElementById("m5");
        var kv2_ = document.getElementById("m2");
        var kv3_ = document.getElementById("m3");
        var kv4_ = document.getElementById("m4");
        var kv5_ = document.getElementById("m1");

        div.style.display = "block";

        kv2_.style.display = "none";
        kv3_.style.display = "none";
        kv4_.style.display = "none";
        kv5_.style.display = "none";
    }

</script>








