
@{
    ViewBag.Title = "Trangtri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .div_banner {
        width: 100%;
        height: 500px;
    }

    .img_banner {
        width: 100%;
        height: 500px;
    }

    table {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    td {
        padding: 10px 10px;
    }

        td div {
            background-color: #ffffff;
            width: 320px;
            height: 220px;
            display: flex;
            justify-content: center;
            margin-bottom: 7px;
        }

            td div img {
                width: 300px;
                height: 200px;
                margin-top: 10px;
            }

        td a {
            font-weight: bold;
            color: #000000;
            text-decoration: none;
            margin-bottom: 7px;
        }
</style>

<div class="div_banner">
    <img src="~/Image/AnhMonAn/banner.jpg" class="img_banner" />
</div>

<div>
    <table>
        <tr>
            <td>
                <div>
                    <img src="~/Image/AnhGoiTrangTri/tiamo.jpg" />
                </div>
                <a href="#">GÓI TRANG TRÍ ĐẶC BIỆT - TIAMO</a>
            </td>
            <td>
                <div>
                    <img src="~/Image/AnhGoiTrangTri/oceanoflove.jpg" />
                </div>
                <a href="#">GÓI TRANG TRÍ ĐẶC BIỆT - OCEAN OF LOVE</a>
            </td>
            <td>
                <div>
                    <img src="~/Image/AnhGoiTrangTri/just a moment.jpg" />
                </div>
                <a href="#">GÓI TRANG TRÍ ĐẶC BIỆT - JUST A MOMENT</a>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <img src="~/Image/AnhGoiTrangTri/forget.jpg" />
                </div>
                <a href="#">GÓI TRANG TRÍ ĐẶC BIỆT - THE ENCHANTED FOREST</a>
            </td>
            <td>
                <div>
                    <img src="~/Image/AnhGoiTrangTri/when love.jpg" />
                </div>
                <a href="#">GÓI TRANG TRÍ ĐẶC BIỆT - WHEN LOVE BLOSSOMS</a>
            </td>

    </table>
</div>
