<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ưu Đãi</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            position: relative;
            background-image: url('@Url.Content("~/Image/layout_3-fotor.jpg")');
            background-size: cover;
            background-position: center;
        }

        header {
            background-color: bisque;
            padding: 20px;
        }

            header h1 {
                align-items: center;
                display: inline;
            }

        main {
            padding: 20px;
        }

        h2 {
            margin-bottom: 10px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
                text-align: left;
            }

        footer {
            background-color: #f4f4f4;
            padding: 20px;
            text-align: center;
        }
        .container {
            width: 95%;
            box-sizing: border-box;
            padding: 10px;
            background-color: #FFFF;
            margin: 50px auto;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <header>
            <h1>Dịch Vụ Khuyến Mãi Theo Mức Bàn</h1>
        </header>
        <main>
            <section>
                <table>
                    <tr>
                        <th style="background-color: #c77408; ">DỊCH VỤ TRANG TRÍ TIÊU CHUẨN</th>
                        <th style="text-align: center; background-color: #c77408;">20 - 34 bàn</th>
                        <th style="text-align: center; background-color: #c77408;">34 - 54 bàn</th>
                        <th style="text-align: center; background-color: #c77408;">55 - 80 bàn</th>
                        <th style="text-align: center; background-color: #c77408;">Trên 80 bàn</th>
                    </tr>
                    <tr>
                        <td>Sân khấu LED & màn sao</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Hoa tươi bàn ký tên</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Hoa tươi bàn tiệc</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Hoa tươi bàn bánh cưới</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Lối đi sân khấu</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Liễn + viết ký tên</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Bánh cưới 5 tầng giả (phủ kem bên ngoài)</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                    </tr>
                    <tr>
                        <td>2 chai rượu champagne + đá khói</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                    </tr>
                    <tr>
                        <th colspan="5" style="background-color: #c77408; ">CHƯƠNG TRÌNH LỄ TIÊU CHUẨN</th>
                    </tr>
                    <tr>
                        <td>Piano đón khách tại sảnh chính</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Pháo kim tuyến (4 viên/ 2 lần)</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                    </tr>
                    <tr>
                        <td>MC dẫn chương trình làm lễ</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Đội khánh tiết làm lễ</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Tiết mục khai mạc tiệc</td>
                        <td colspan="2" style="text-align: center;">Violon đón dâu <br />hoặc vũ đoàn múa đôi</td>
                        <td colspan="2" style="text-align: center;">Vũ đoàn múa 6 người</td>
                    </tr>
                    <tr>
                        <td>Chương trình trong tiệc</td>
                        <td colspan="2" style="text-align: center;">Karaoke kết nối Youtube</td>
                        <td colspan="2" style="text-align: center;">Hòa tấu điện tử<br />(4 nhạc công/2h)</td>
                    </tr>
                    <tr>
                        <th colspan="5" style="background-color: #c77408; ">ƯU ĐÃI THÊM</th>
                    </tr>
                    <tr>
                        <td>2 phần ăn nhẹ</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                        <td style="text-align: center;">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Ưu đãi bàn tiệc ăn thử</td>
                        <td colspan="2" style="text-align: center;">Giảm 50%</td>
                        <td colspan="2" style="text-align: center;">Tặng 100%</td>
                    </tr>
                    <tr>
                        <th colspan="5" style="background-color: #c77408; ">ƯU ĐÃI ĐẶC BIỆT</th>
                    </tr>
                    <tr>
                        <td>Tặng ưu đãi thức uống (đã bao gồm nước tinh khiết & nước ngọt)</td>
                        <td style="text-align: center;">Bia Sapporo</td>
                        <td style="text-align: center;">Bia Sapporo lon</td>
                        <td style="text-align: center;">Bia Heineken chai</td>
                        <td style="text-align: center;">Bia Heineken lon</td>
                    </tr>
                    <tr>
                        <td>Tặng voucher tiền mặt để mua trang trí & biểu diễn ngoài chuẩn</td>
                        <td style="text-align: center;">6.000.000 vnđ</td>
                        <td style="text-align: center;">8.000.000 vnđ</td>
                        <td style="text-align: center;">10.000.000 vnđ</td>
                        <td style="text-align: center;">12.000.000 vnđ</td>
                    </tr>
                    <tr>
                        <td>Ưu đãi thêm phần thức uống áp dụng cho thực đơn trên 4.500.000 VND</td>
                        <td style="text-align: center;">Sapporo chai <br />Quy đổi miễn phí: Heineken chai</td>
                        <td style="text-align: center;">Sapporo lon <br />Quy đổi miễn phí: Heineken chai</td>
                        <td style="text-align: center;">Heineken chai<br />Quy đổi miễn phí: Heineken lon</td>
                        <td style="text-align: center;">Heineken lon</td>
                    </tr>
                    <tr>
                        <td colspan="5"><b>Phí phục vụ 140.000 đ/bàn (10 khách)</b></td>
                    </tr>
                    <tr>
                        <td colspan="5"><b>ĐẶT TRÊN 55 BÀN TẶNG THÊM 01 BÀN</b></td>
                    </tr>
                </table>
            </section>
        </main>
        <header>
            <h1>Phương Thức Đặt Cọc Và Thanh Toán</h1>
        </header>
        <main>
            <div>
                <p><b>* Lần thứ nhất (giữ chỗ):</b></p>
                <p style="text-indent: 1em;">Dưới 40 bàn: 10.000.000 đ | Từ 40 bàn trở lên: 15.000.000 đ | Từ hai sảnh tiệc trở lên: 20.000.000 đ.</p>
                <p><b>* Lần thứ hai (ký hợp đồng xác nhận món ăn và các dịch vụ):</b></p>
                <p style="text-indent: 1em;">Đặt cọc 40% trên tổng giá trị hợp đồng tạm tính trước 60 ngày tổ chức tiệc, không bao gồm cọc lần thứ nhất.</p>
                <p><b>* Lần thứ ba (tất toán):</b></p>
                <p style="text-indent: 1em;">Thanh toán toàn bộ số tiền còn lại và phát sinh được tính trên tổng giá trị hợp đồng đã ký trong lần thứ hai.</p>
            </div>
            <section>
                <table>
                    <tr>
                        <th colspan="5" style="background-color: #c77408;">LƯU Ý</th>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <p style="text-indent: 1em;">- Chương trình khuyến mãi chỉ áp dụng khi số bàn tiệc chính thức trên hợp đồng từ 20 bàn trở lên (không áp dụng cho số bàn dự phòng, bàn phát sinh và bàn tặng).</p>
                            <p style="text-indent: 1em;">- Món ăn và giá trị của bàn tiệc phát sinh có thể không giống bàn tiệc chính thức.</p>
                            <p style="text-indent: 1em;">- Thức uống tặng không áp dụng cho bàn dự phòng, bàn phát sinh và bàn tặng.</p>
                            <p style="text-indent: 1em;">- Nếu khách mang các dịch vụ từ ngoài vào, Grand Palace sẽ tính phí 50% trên giá bán.</p>
                            <p style="text-indent: 1em;">- Đến ngày hẹn ký hợp đồng, khách không đến nhà hàng thì xem như khách tự hủy tiệc.></p>
                            <p style="text-indent: 1em;">- Khách tự hủy tiệc, tiền cọc sẽ không được hoàn lại.</p>
                            <p style="text-indent: 1em;">- Giá trên chưa bao gồm thuế giá trị gia tăng (VAT), thanh toán bằng tiền mặt.</p>
                            <p style="text-indent: 1em;">
                                - Dịch vụ khuyến mãi nêu trên không quy đổi thành tiền mặt, không hoàn lại tiền thừa, không đổi sang dịch vụ
                                khuyến mãi khác nếu khách hàng không sử dụng.
                            </p>
                            <p style="text-indent: 1em;">- Chương trình khuyến mãi được chốt tại thời điểm ký Hợp đồng.</p>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="5" style="background-color: #c77408;">PHÍ PHỤ THU (nếu khách mang từ ngoài vào)</th>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <p style="text-indent: 1em;">Bia, nước ngọt, nước suối: 100.000 đ/bàn | Rượu Vang, Champagne: 150.000 đ/chai.</p>
                            <p style="text-indent: 1em;">Rượu mạnh các loại: 250.000 đ/chai ( Vodka, Whisky, Cognac...).</p>
                        </td>
                    </tr>
                </table>
            </section>
        </main>
    </div>
</body>
</html>
